---
import ScrollSection from "../components/containers/ScrollSection.astro";
import PrimaryTitle from "../components/typography/PrimaryTitle.astro";
import SecondaryTitle from "../components/typography/SecondaryTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Elie Hymowitz">
  <main>
    <ScrollSection id="me">
      <div>
        <PrimaryTitle>Hi, I'm Elie</PrimaryTitle>
        <SecondaryTitle>
          I'm a web and app developer. I also play music
        </SecondaryTitle>
        <SecondaryTitle>Born in Seattle, living in Montreal</SecondaryTitle>
      </div>
    </ScrollSection>
    <ScrollSection id="music">
      <PrimaryTitle>Music Videos I'm In</PrimaryTitle>
    </ScrollSection>
    <ScrollSection id="code">
      <PrimaryTitle>Coding Projects</PrimaryTitle>
    </ScrollSection>
  </main>
</Layout>
