---
import ScrollSection from "../components/containers/ScrollSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Elie Hymowitz">
  <main>
    <ScrollSection id="me">
      <div>
        <h1>Hi, I'm Elie</h1>
        <h2>I'm a web and app developer. I also play music</h2>
        <h2>Born in Seattle, living in Montreal</h2>
      </div>
    </ScrollSection>
    <ScrollSection id="music">
      <h1>Music Videos I'm In</h1>
    </ScrollSection>
    <ScrollSection id="code">
      <h1>Coding Projects</h1>
    </ScrollSection>
  </main>
</Layout>
