---
import NavFooter from "./NavFooter.astro";
import NavHeader from "./NavHeader.astro";

interface NavGroupProps {
  className: string;
}

const { className } = Astro.props;
---

<div class={className}>
  <NavHeader />
  <slot />
  <NavFooter />
</div>
