<nav class="sticky top-0 pt-10 w-full flex flex-cols justify-between">
  <h2>EH</h2>
  <ul class="grid grid-cols-5">
    <a href="#me" class="flex justify-center">Me</a>
    <p class="flex justify-center">|</p>
    <a href="#music" class="flex justify-center">Music</a>
    <p class="flex justify-center">|</p>
    <a href="#code" class="flex justify-center">Code</a>
  </ul>
</nav>
