---
import AstroIcon from "../typography/AstroIcon.astro";
import ExternalLink from "../typography/ExternalLink.astro";
import PrimaryTitle from "../typography/PrimaryTitle.astro";
import ScrollLink from "../typography/ScrollLink.astro";
import MenuList from "./MenuList.astro";

interface Props {
  className: string;
}

const { className } = Astro.props;
---

<div class={className}>
  <nav class="sticky top-0 pt-10 flex flex-cols justify-between">
    <PrimaryTitle>EH</PrimaryTitle>
    <MenuList>
      <ScrollLink link="#me">Me</ScrollLink>
      <p>|</p>
      <ScrollLink link="#music">Music</ScrollLink>
      <p>|</p>
      <ScrollLink link="#code">Code</ScrollLink>
    </MenuList>
  </nav>
  <slot />
  <footer class="sticky bottom-0 pb-10 flex flex-cols justify-between">
    <ExternalLink link="/Elie%20Hymowitz_CV.pdf">CV</ExternalLink>
    <MenuList>
      <ExternalLink link="https://www.instagram.com/elie.s.h/">
        <AstroIcon name="mdi:instagram" />
      </ExternalLink>
      <ExternalLink
        link="https://open.spotify.com/playlist/2ieh5fIUHEdPw5dnwS2wcp?si=7537ffcfdb804ab6"
      >
        <AstroIcon name="mdi:spotify" />
      </ExternalLink>
      <ExternalLink link="https://www.linkedin.com/in/eliehymowitz/">
        <AstroIcon name="mdi:linkedin" />
      </ExternalLink>
      <ExternalLink link="https://github.com/ehymowitz">
        <AstroIcon name="mdi:github" />
      </ExternalLink>
      <ExternalLink link="mailto:ehymowitz@gmail.com">
        <AstroIcon name="mdi:email" />
      </ExternalLink>
    </MenuList>
  </footer>
</div>
