---
import AstroIcon from "../typography/AstroIcon.astro";
import LinkExternal from "../typography/LinkExternal.astro";
import TitlePrimary from "../typography/TitlePrimary.astro";
import LinkScroll from "../typography/LinkScroll.astro";
import MenuList from "./MenuList.astro";

interface Props {
  className: string;
}

const { className } = Astro.props;
---

<div class={className}>
  <nav class="sticky top-0 pt-10 flex flex-cols justify-between">
    <TitlePrimary>EH</TitlePrimary>
    <MenuList>
      <LinkScroll link="#me">Me</LinkScroll>
      <p>|</p>
      <LinkScroll link="#music">Music</LinkScroll>
      <p>|</p>
      <LinkScroll link="#code">Code</LinkScroll>
    </MenuList>
  </nav>
  <slot />
  <footer class="sticky bottom-0 pb-10 flex flex-cols justify-between">
    <LinkExternal link="/Elie%20Hymowitz_CV.pdf">CV</LinkExternal>
    <MenuList>
      <LinkExternal link="https://www.instagram.com/elie.s.h/">
        <AstroIcon name="mdi:instagram" />
      </LinkExternal>
      <LinkExternal
        link="https://open.spotify.com/playlist/2ieh5fIUHEdPw5dnwS2wcp?si=7537ffcfdb804ab6"
      >
        <AstroIcon name="mdi:spotify" />
      </LinkExternal>
      <LinkExternal link="https://www.linkedin.com/in/eliehymowitz/">
        <AstroIcon name="mdi:linkedin" />
      </LinkExternal>
      <LinkExternal link="https://github.com/ehymowitz">
        <AstroIcon name="mdi:github" />
      </LinkExternal>
      <LinkExternal link="mailto:ehymowitz@gmail.com">
        <AstroIcon name="mdi:email" />
      </LinkExternal>
    </MenuList>
  </footer>
</div>
